@media(min-width:1400px) {
    .container {
        max-width: 1350px;
    }
}

@media(max-width:1700.8px) {
    .upbtn.custombtn {
        right: 4%;
    }
}

@media(max-width:1600.8px) {

    header.header,
    .header__contentwrap {
        height: 80px;
    }

    .header__contactlink {
        height: 80px;
        width: 240px;
    }

    .header__logo img {
        height: 60px;
    }

    .header__logo {
        max-width: 26%;
        flex: 0 0 26%;
    }

    .maiinsection__textbox .subtitle {
        margin-bottom: 20px;
    }

    h1 {
        font-size: 46px;
        line-height: normal;
    }

    .maiinsection__textbox {
        padding-top: 120px;
    }

    .maiinsection__pic {
        height: 750px;
    }

    .maiinsection {
        height: 950px;
    }

    .maiinsection__pic .mousescroll {
        bottom: 250px;
    }

    .mainslider:after {
        height: 50px;
        width: 240px;
    }

    .mainslider {
        padding-top: 50px;
    }

    .mainslider .slick-arrow {
        height: 50px;
        width: 120px;
    }

    .mainslider .slick-prev.slick-arrow {
        right: 115px;
    }

    .companysmission__slider .pagingInfo {
        height: 50px;
    }

    .benefits {
        padding: 150px 0;
    }

    .benefit__info {
        margin-bottom: 35px;
    }

    .scroll-slider {
        margin-top: 70px;
    }

    .scrslidebox__pic {
        height: 300px;
    }

    .scrslidebox__text {
        height: 100px;
    }

    .scrslidebox .back .title {
        margin-bottom: 30px;
    }

    .scrslidebox .back .descr {
        height: 150px;
    }

    .scrslidebox .back {
        padding-top: 55px;
    }

    .services__container:after {
        height: calc(100% - 100px);
    }

    .our-projects {
        padding: 230px 0 150px 0;
    }

    .contactus__container {
        padding: 70px 0;
    }

    .footer__topsect {
        padding: 45px 70px 45px 0;
    }

    footer.footer nav ul li a {
        font-size: 16px;
    }

    .footer__bottline p {
        font-size: 14px;
    }

    .upbtn.custombtn {
        right: 30px;
        top: 55px;
    }

    .companysmission {
        margin-top: -386px;
    }

    .aboutus-fscreen h1 {
        font-size: 46px;
        margin-bottom: 80px;
    }

    .aboutus-fscreen .subtitle {
        margin-bottom: 30px;
    }

    .header__leftmenu,
    .header__rightmenu {
        width: 100%;
        max-width: 37%;
        flex: 0 0 37%;
    }

    .aboutus__quote {
        margin: 45px auto;
    }

    .aboutus-infobox {
        height: 600px;
    }

    .aboutus-infobox__textblock .subtitle {
        margin-bottom: 20px;
    }

    .aboutus-infobox__textblock .title {
        margin-bottom: 40px;
    }

    .aboutus-infobox__textblock {
        padding: 80px 100px;
    }




    .aboutus-sescrsect,
    .aboutus-infoboxex {
        padding: 70px 0;
    }

    .companysmission-container,
    .services__container {
        padding-top: 70px;
    }

    .companysmission__descr {
        margin-bottom: 40px;
    }

    .companysmission__slider {
        margin-top: 40px;
    }

    .benefits {
        margin-top: -50px;
    }


}

@media(max-width:1500.8px) {
    .upbtn.custombtn {
        display: none;
    }
}

@media(max-width:1400.8px) {
    .header__logo {
        max-width: 22%;
        flex: 0 0 22%;
    }

    .header__contactlink {
        width: 200px;
    }

    .mainslider__slide {
        height: 550px;
    }













    .header__leftmenu ul li a,
    .header__rightmenu ul li a,
    .header__contactlink {
        font-size: 16px;
    }
}

@media(max-width:1300.8px) {
    .upbtn.custombtn {
        right: 0;
    }
}

@media(max-width:1199.8px) {
    .upbtn.custombtn {
        display: none;
    }

    footer.footer nav ul li {
        margin-right: 30px;
    }

    footer.footer .custombtn {
        width: 170px;
    }

    .header__rightmenu ul li:first-child {
        margin-right: 70px;
    }




}

@media(max-width:1024.8px) {

    .header__leftmenu,
    .header__rightmenu,
    .header__contactlink {
        display: none;
    }

    .header__logo {
        max-width: initial;
        flex: initial;
        width: auto;
    }

    .burgerbtn {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        width: 50px;
        height: 50px;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header.header .container {
        position: relative;
    }

    .burgerbtn img {
        width: 30px;
    }

    .frame ul li {
        width: 350px;
    }

    .mobilemenu.show {
        display: flex;
    }

    .mobilemenu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #031722;
        z-index: 99;
        padding: 0 20px;
        align-items: center;
        justify-content: center;
        overflow: auto;
        background-image: url('../img/menubg.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    .mobilemenu__wrap {
        height: 100%;
        overflow: auto;
        width: 100%;
        padding: 50px 0;
    }


    .mobilemenu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .mobilemenu ul li {
        margin-bottom: 20px;
        text-align: center;
    }

    .mobilemenu ul li a {
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 0.02em;
        font-size: 22px;
        line-height: 22px;
        font-family: 'Akrobat-semibold sans-serif';
    }

    .mobilemenu ul li.active a {
        color: #D3AB75;
    }

    .mobcontbtn,
    .mobcontbtn:hover {
        width: 234px;
        height: 60px;
        background: #D3AB75;
        display: flex;
        margin: 30px auto 0;
        align-items: center;
        justify-content: center;
        color: #122223;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 22px;
        font-family: 'Akrobat-semibold sans-serif';
        text-decoration: none;
        margin-top: 80px;
    }

    .mobilemenu__close {
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;
        position: absolute;
        left: 30px;
        top: 30px;
        outline: none !important;
    }

    .mobilemenu__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobilemenu {
        display: flex;
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
    }

    .mobilemenu.show {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    .aboutus-infobox__textblock {
        padding: 60px 50px;
    }

    .aboutus-infobox {
        height: 500px;
    }



}

@media(max-width:991.8px) {

    .companysmission-container,
    .services__container {
        padding-top: 50px;
    }

    .section-subtitle {
        margin-bottom: 10px;
    }

    h3,
    .section-title,
    .benefits .section-title,
    .our-projects .section-title {
        margin-bottom: 30px;
    }

    .mainslider__slide {
        height: 400px;
    }

    .benefits {
        padding: 120px 0;
    }

    .benefits__description {
        margin-bottom: 40px;
    }

    .benefitsicsect {
        margin-top: 50px;
    }

    .benefit__info {
        margin-bottom: 25px;
    }

    .frame ul li {
        width: 340px;
    }

    .our-projects {
        margin-top: -100px;
    }

    .our-projects {
        padding: 170px 0 150px 0;
    }

    .conform {
        padding-right: 50px;
        padding-top: 0;
    }

    .mailpic {
        display: none;
    }

    footer.footer .custombtn {
        margin-top: 30px;
    }

    .scroll-slider {
        padding-right: 30px;
    }

    .aboutus-fscreen {
        padding-top: 80px;
    }

    .aboutus__quote p {
        font-size: 36px;
    }

    .aboutus-infobox__textblock .title {
        margin-bottom: 20px;
    }

    .aboutus-infobox__textblock .subtitle {
        margin-bottom: 10px;
    }




    .aboutus-sescrsect,
    .aboutus-infoboxex {
        padding: 50px 0;
    }

    .aboutus-fscreen .subtitle {
        margin-bottom: 20px;
    }
}

@media(max-width:767.8px) {
    .footer__logo {
        margin-bottom: 20px;
    }

    .footer__topsect {
        padding-right: 30px;
    }

    footer.footer nav ul li {
        margin-right: 22px;
    }

    .aboutus-infobox__pic {
        position: relative;
        width: 100%;
    }

    .aboutus-infobox {
        display: block;
        height: auto;
    }


}

@media(max-width:575.8px) {

    header.header,
    .header__contentwrap {
        height: 60px;
    }

    .header__logo img {
        height: 45px;
    }

    .maiinsection {
        height: 550px;
    }

    .maiinsection__pic .mousescroll {
        display: none;
    }

    .maiinsection__pic {
        height: 100%;
        display: flex;
        align-items: center;
        /* padding: 0 15px; */
        padding: 0;
        overflow: hidden;
    }

    h1 {
        font-size: 32px;
        line-height: normal;
    }

    .maiinsection__pic .maiinsection__textbox {
        padding-top: 0;
    }

    .section-subtitle {
        margin-bottom: 5px;
    }

    .custombtn {
        font-size: 16px;
    }

    .mainslider:after {
        width: 160px;
    }

    .mainslider .slick-arrow {
        width: 80px;
    }

    .mainslider .slick-prev.slick-arrow {
        right: 80px;
    }

    .mainslider .slick-prev.slick-arrow {
        background-position: center right 15px;
    }

    .mainslider .slick-next.slick-arrow {
        background-position: center left 15px;
    }

    .mainslider__slide {
        height: 300px;
    }

    .section-subtitle:before {
        width: 15px;
    }

    .section-subtitle {
        padding-left: 25px;
    }

    .benefits .custombtn {
        padding: 12px 30px;
    }

    .benefit__info .picbox {
        max-width: 70px;
        flex: 0 0 70px;
    }

    .benefit__info .descrbox {
        padding-left: 20px;
        padding-top: 0;
    }

    .benefit__info {
        margin-bottom: 40px;
    }

    .frame ul li {
        width: 280px;
    }

    .scroll-slider {
        padding-right: 0;
    }

    .scrslidebox__pic {
        height: 240px;
    }

    .scrslidebox__text {
        height: 70px;
    }

    .scrslidebox__text p {
        font-size: 16px;
    }

    .scrslidebox .back {
        padding: 25px 20px 30px 25px;
    }

    .scrslidebox .back a {
        width: 150px;
        height: 42px;
    }

    .scrslidebox .back .descr {
        height: 134px;
    }

    .services__container:after {
        height: calc(100% - 70px);
    }

    .our-projects {
        padding: 150px 0 50px 0;
    }

    .conform,
    .footer__topsect {
        padding-right: 0;
    }


    .conform input {
        height: 46px;
        margin-bottom: 25px;
        padding-left: 20px;
    }

    .conform textarea {
        margin-bottom: 25px;
        padding-left: 20px;
    }

    .footer__logo {
        margin: 0 auto 20px;
    }

    footer.footer nav ul li {
        display: block;
        text-align: center;
        margin: 0 0 10px 0;
    }

    footer nav {
        width: 100%;
    }

    footer.footer .custombtn {
        margin: 20px auto 0;
    }

    .footer__bottline p {
        font-size: 12px;
    }

    .mobilemenu ul li a {
        font-size: 18px;
    }

    .mobilemenu ul li {
        margin-bottom: 30px;
    }

    .mobilemenu__close {
        top: 20px;
        left: 20px;
    }

    .aboutus-fscreen h1 {
        font-size: 32px;
    }

    .aboutus__quote {
        background-size: 40px;
        padding-left: 55px;
    }

    .aboutus__quote p {
        font-size: 32px;
    }

    .aboutus__quote {
        margin: 25px auto;
    }

    .aboutus-infobox__textblock {
        padding: 0;
        margin-bottom: 20px;
    }

    .aboutus-infobox__textblock .title {
        font-size: 28px;
    }

    .aboutus-infobox:not(:last-child) {
        margin-bottom: 50px;
    }


    .benefits,
    .contactus__container {
        padding: 50px 0;
    }

    .scrslidebox .back .descr p {
        font-size: 14px;
    }

    .companysmission__slider .pagingInfo {
        font-size: 16px;
    }

    h3,
    .section-title,
    .benefits .section-title {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .companysmission,
    .benefits,
    .services,
    .contact-us {
        margin-top: 0;
    }

    .companysmission,
    .services,
    .contact-us,
    footer {
        padding-right: 0 !important;
    }

    .companysmission-container,
    .services__container,
    .contactus__container,
    .footer__container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }


}












@media(max-height:900px) {
    .maiinsection__textbox {
        padding-top: 150px;
    }

    .maiinsection__textbox .subtitle {
        margin-bottom: 30px;
    }

    /* .mousescroll {
        bottom: 530px;
    } */
}

@media(max-height:500px) {
    .mobilemenu__wrap {
        display: block;
        margin-top: 100px;
    }
}